.container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container mat-card-title {
  padding: 1rem 0;
}
.container .content {
  display: flex;
  flex-direction: column;
}

.content mat-card-title, .content mat-form-field {
  padding: 1rem 2rem;
}