<div class="container" [ngClass]="{'signup': isItSignUp()}">  
  <mat-card appearance="outlined">
    <mat-card-content>

      <mat-card-title>{{name}}</mat-card-title>

      <mat-list class="social-buttons" *ngIf="!isItSignUp()"> 
        <mat-list-item>
          <cool-google-button color="dark" (click)="onGoogleLoginClicked()">
            Login with Google
          </cool-google-button>
        </mat-list-item>
        <mat-list-item>
          <cool-facebook-button color="dark" (click)="onFacebookLoginClicked()">
            Login with Facebook
          </cool-facebook-button>
        </mat-list-item>
      <mat-divider></mat-divider>
      </mat-list>

      <form [formGroup]="form" (ngSubmit)="onSubmit(form)" class="content">
        <div *ngIf="isItSignUp()">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input 
              matInput
              formControlName="name"
              placeholder="John"  
              required>     
            <mat-error *ngIf="form.get('name')?.hasError('required')">You must enter a value</mat-error>                       
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input 
              matInput
              formControlName="lastName"
              placeholder="Doe" 
              required>
            <mat-error *ngIf="form.get('lastName')?.hasError('required')">You must enter a value</mat-error>                       
          </mat-form-field>
        </div>
        
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input 
            matInput
            formControlName="email"
            type="email"
            placeholder="email@example.com" 
            required>
          <mat-error *ngIf="form.get('email')?.hasError('required')">You must enter a value</mat-error>            
          <mat-error *ngIf="form.get('email')?.hasError('email')">Not a valid email</mat-error>            
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input 
            matInput
            formControlName="password"
            [type]="hide() ? 'password' : 'text'" 
            required>
            <mat-error *ngIf="form.get('password')?.hasError('required')">You must enter a value</mat-error>      
            <mat-error *ngIf="form.get('password')?.hasError('passwordStrength')">
              You password must have 6 or more characters and include letters, numbers and special characters
            </mat-error>      
       
          <button
            mat-icon-button
            matSuffix
            (click)="clickEvent($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()"
          >
            <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <div *ngIf="isItSignUp()" class="repassword">
          <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input 
              matInput
              formControlName="rePassword"
              [type]="hide() ? 'password' : 'text'" 
              required>
            <mat-error *ngIf="form.get('repassword')?.hasError('required')">You must enter a value</mat-error>      
            <mat-error *ngIf="form.get('repassword')?.hasError('passwordStrength')">
              You password must have 6 or more characters and include letters and special characters
            </mat-error>      
            <button
              mat-icon-button
              matSuffix
              (click)="clickEvent($event)"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide()"
            >
              <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        
        <button mat-button type="submit">{{name}}</button>
      </form>

    </mat-card-content>
  </mat-card>
</div>