<mat-tab-nav-panel #tabPanel>
  <mat-toolbar>
    <button mat-mini-fab (click)="loadWelcomePage()">
      <mat-icon>home</mat-icon>
    </button>
  </mat-toolbar>
  <ion-tabs>
    <nav mat-tab-nav-bar  [tabPanel]="tabPanel">
      
      <a mat-tab-link
      *ngFor="let link of links"
      (click)="activeLink = link.path"
      [routerLink]="link.path"
      routerLinkActive 
      #rla="routerLinkActive" 
      [active]="rla.isActive"> 
      <mat-icon class="tab-icon">{{link.icon}}</mat-icon>
      {{link.path | titlecase}}
    </a>
    
  </nav>
</ion-tabs>
</mat-tab-nav-panel>