
.card-button {
  position: absolute;
  bottom: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card-button button{
  font-size: 1.5rem;
  padding: 2rem 3rem;
}